@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';

@theme {
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));
  
    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));
  
    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));
  
    --color-destructive: hsl(var(--destructive));
    --color-destructive-foreground: hsl(var(--destructive-foreground));
  
    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));
  
    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));
  
    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));
  
    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));
  
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
  
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
  
    @keyframes accordion-down {
      from {
        height: 0;
      }
      to {
        height: var(--radix-accordion-content-height);
      }
    }
    @keyframes accordion-up {
      from {
        height: var(--radix-accordion-content-height);
      }
      to {
        height: 0;
      }
    }
  }
  
  @utility container {
    margin-inline: auto;
    padding-inline: 2rem;
    @media (width >= --theme(--breakpoint-sm)) {
      max-width: none;
    }
    @media (width >= 1400px) {
      max-width: 1400px;
    }
  }


@layer base {
    :root {
        --background: 0 0% 6.67%;
      --foreground: 0 0% 93.33%;
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 73.33%;
      --popover: 0 0% 8%;
      --popover-foreground: 0 0% 93.33%;
      --card: 0 0% 8%;
      --card-foreground: 0 0% 93.33%;
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --primary: 150.24 50% 40%;
      --primary-foreground: 0 0% 93.33%;
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 93.33%;
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 93.33%;
      --destructive: 0 50% 50%;
      --destructive-foreground: 0 0% 93.33%;
      --ring: 150 50% 40%;
      --chart-1: 150.24 50% 40%;
      --chart-2: 0 0% 14.9%;
      --chart-3: 0 0% 14.9%;
      --chart-4: 0 0% 17.9%;
      --chart-5: 150.24 53% 40%;
          
    }

    * {
		@apply border-border p-0 m-0;
	}

  }
  