@tailwind base;

@layer base {
  .no-tailwindcss-base h1,
  .no-tailwindcss-base h2,
  .no-tailwindcss-base h3,
  .no-tailwindcss-base h4,
  .no-tailwindcss-base h5,
  .no-tailwindcss-base h6 {
    font-size: revert;
    font-weight: revert;
  }

  .no-tailwindcss-base ol,
  .no-tailwindcss-base ul {
    list-style: revert;
    margin: revert;
    padding: revert;
  }

  .no-tailwindcss-base {
    font-size: 11pt;
  }
  .no-tailwindcss-base p,
  .no-tailwindcss-base img,
  .no-tailwindcss-base svg,
  .no-tailwindcss-base video,
  .no-tailwindcss-base canvas,
  .no-tailwindcss-base audio,
  .no-tailwindcss-base iframe,
  .no-tailwindcss-base embed,
  .no-tailwindcss-base object {
    display: revert;
    vertical-align: revert;
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

@tailwind components;
@tailwind utilities;

@layer base {
/*   
  :root {
    --background: 0 0% 97.65%;
    --foreground: 0 0% 12.55%;
    --muted: 0 0% 93.73%;
    --muted-foreground: 0 0% 39.22%;
    --popover: 0 0% 98.82%;
    --popover-foreground: 0 0% 12.55%;
    --card: 0 0% 98.82%;
    --card-foreground: 0 0% 12.55%;
    --border: 0 0% 84.71%;
    --input: 0 0% 94.12%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 44 0% 100%;
    --secondary: 34.05 100% 85.49%;
    --secondary-foreground: 16.27 50.43% 22.94%;
    --accent: 0 0% 90.98%;
    --accent-foreground: 0 0% 12.55%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24.8 79.79% 63.14%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 13.33%;
    --muted-foreground: 0 0% 70.59%;
    --popover: 0 0% 9.8%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 9.8%;
    --card-foreground: 0 0% 93.33%;
    --border: 44 14% 11%;
    --input: 0 0% 28.24%;
    --primary: 22.93 92.59% 52.35%;
    --primary-foreground: 29.51 0% 100%;
    --secondary: 28.5 64.52% 12.16%;
    --secondary-foreground: 29.51 100% 88.04%;
    --accent: 0 0% 16.47%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 10.16 77.87% 53.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 23.11 59.8% 40%;
  } */




  /* @layer base {
    :root {
      --base-1: 340 100% 99.41176470588235%;
      --base-2: 352.5 100% 98.43137254901961%;
      --base-3: 351 90.90909090909093% 95.68627450980391%;
      --base-4: 351.42857142857144 100% 93.13725490196079%;
      --base-5: 350.2040816326531 100% 90.3921568627451%;
      --base-6: 350.5263157894737 80.2816901408451% 86.07843137254902%;
      --base-7: 349.2537313432836 67.67676767676767% 80.58823529411765%;
      --base-8: 347.71084337349396 61.48148148148148% 73.52941176470588%;
      --base-9: 347.92452830188677 75.35545023696683% 58.62745098039216%;
      --base-10: 347.32919254658384 69.6969696969697% 54.70588235294118%;
      --base-11: 345.18072289156623 69.74789915966385% 46.666666666666664%;
      --base-12: 344.4155844155844 62.601626016260155% 24.11764705882353%;
      --accent-1: 280 100% 99.41176470588235%;
      --accent-2: 300 60.00000000000011% 98.03921568627452%;
      --accent-3: 300 66.66666666666666% 95.29411764705881%;
      --accent-4: 297.6923076923077 65.00000000000003% 92.15686274509804%;
      --accent-5: 298.2352941176471 58.62068965517238% 88.62745098039215%;
      --accent-6: 295.71428571428567 52.50000000000002% 84.31372549019608%;
      --accent-7: 294.44444444444446 49.090909090909065% 78.43137254901961%;
      --accent-8: 292.3943661971831 47.65100671140941% 70.7843137254902%;
      --accent-9: 291.9642857142857 44.800000000000004% 50.98039215686274%;
      --accent-10: 292.14953271028037 44.03292181069959% 47.647058823529406%;
      --accent-11: 291.68316831683165 44.888888888888886% 44.11764705882353%;
      --accent-12: 291.1764705882353 57.6271186440678% 23.137254901960784%;
      --background: 340 100% 99.41176470588235%;
      --foreground: 344.4155844155844 62.601626016260155% 24.11764705882353%;
      --card: 352.5 100% 98.43137254901961%;
      --card-foreground: 344.4155844155844 62.601626016260155% 24.11764705882353%;
      --popover: 340 100% 99.41176470588235%;
      --popover-foreground: 344.4155844155844 62.601626016260155% 24.11764705882353%;
      --primary: 322.25165562913907 61.1336032388664% 51.56862745098039%;
      --primary-foreground: 0 0% 100%;
      --secondary: 352.5 100% 98.43137254901961%;
      --secondary-foreground: 345.18072289156623 69.74789915966385% 46.666666666666664%;
      --muted: 352.5 100% 98.43137254901961%;
      --muted-foreground: 345.18072289156623 69.74789915966385% 46.666666666666664%;
      --accent: 292.14953271028037 44.03292181069959% 47.647058823529406%;
      --accent-foreground: 0 0% 100%;
      --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
      --destructive-foreground: 350.64935064935065 62.601626016260155% 24.11764705882353%;
      --border: 350.5263157894737 80.2816901408451% 86.07843137254902%;
      --input: 350.5263157894737 80.2816901408451% 86.07843137254902%;
      --ring: 350.5263157894737 80.2816901408451% 86.07843137254902%;
      --radius: 0.5rem;
  }
    .dark {
      --base-1: 345 19.047619047619047% 8.235294117647058%;
      --base-2: 346.6666666666667 17.64705882352941% 10%;
      --base-3: 344.2105263157895 48.71794871794871% 15.294117647058824%;
      --base-4: 341.6949152542373 60.824742268041234% 19.01960784313726%;
      --base-5: 342.3529411764706 56.66666666666668% 23.52941176470588%;
      --base-6: 343.7837837837838 49.999999999999986% 29.01960784313726%;
      --base-7: 346.42857142857144 44.680851063829785% 36.86274509803922%;
      --base-8: 348.1081081081081 44.93927125506073% 48.4313725490196%;
      --base-9: 347.92452830188677 75.35545023696683% 58.62745098039216%;
      --base-10: 350.13698630136986 79.34782608695653% 63.92156862745099%;
      --base-11: 354.9532710280374 100% 79.01960784313727%;
      --base-12: 339.54545454545456 95.6521739130435% 90.98039215686275%;
      --accent-1: 300 17.073170731707318% 8.03921568627451%;
      --accent-2: 300 25.49019607843137% 10%;
      --accent-3: 300 34.17721518987342% 15.490196078431373%;
      --accent-4: 297.14285714285717 42.00000000000001% 19.607843137254903%;
      --accent-5: 296.25 40% 23.52941176470588%;
      --accent-6: 296.32653061224494 33.793103448275865% 28.431372549019606%;
      --accent-7: 293.68421052631584 30.810810810810807% 36.27450980392157%;
      --accent-8: 291.66666666666663 30.000000000000004% 47.05882352941176%;
      --accent-9: 291.9642857142857 44.800000000000004% 50.98039215686274%;
      --accent-10: 292.22222222222223 47.78761061946903% 55.68627450980392%;
      --accent-11: 292.258064516129 79.48717948717946% 77.05882352941175%;
      --accent-12: 300 59.25925925925931% 89.41176470588236%;
      --background: 345 19.047619047619047% 8.235294117647058%;
      --foreground: 339.54545454545456 95.6521739130435% 90.98039215686275%;
      --card: 346.6666666666667 17.64705882352941% 10%;
      --card-foreground: 339.54545454545456 95.6521739130435% 90.98039215686275%;
      --popover: 345 19.047619047619047% 8.235294117647058%;
      --popover-foreground: 339.54545454545456 95.6521739130435% 90.98039215686275%;
      --primary: 322.97872340425533 68.11594202898551% 59.411764705882355%;
      --primary-foreground: 0 0% 100%;
      --secondary: 346.6666666666667 17.64705882352941% 10%;
      --secondary-foreground: 354.9532710280374 100% 79.01960784313727%;
      --muted: 346.6666666666667 17.64705882352941% 10%;
      --muted-foreground: 354.9532710280374 100% 79.01960784313727%;
      --accent: 292.22222222222223 47.78761061946903% 55.68627450980392%;
      --accent-foreground: 0 0% 100%;
      --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
      --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
      --border: 343.7837837837838 49.999999999999986% 29.01960784313726%;
      --input: 343.7837837837838 49.999999999999986% 29.01960784313726%;
      --ring: 343.7837837837838 49.999999999999986% 29.01960784313726%;
      --radius: 0.5rem;
    }
  } */


  :root {
  --background: 230 20% 95%;
  --foreground: 230 20% 10%;
  --card: 230 20% 98%;
  --card-foreground: 230 20% 10%;
  --popover: 240 20% 90%;
  --popover-foreground: 230 20% 15%;
  --primary: 250 70% 50%;
  --primary-foreground: 230 20% 100%;
  --secondary: 210 40% 30%;
  --secondary-foreground: 230 20% 100%;
  --muted: 240 15% 85%;
  --muted-foreground: 230 20% 10%;
  --accent: 245 70% 60%;
  --accent-foreground: 230 20% 10%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 230 20% 100%;
  --border: 240 20% 80%;
  --input: 240 20% 98%;
  --ring: 250 70% 50%;
  --chart-1: 250 70% 50%;
  --chart-2: 240 60% 55%;
  --chart-3: 230 50% 60%;
  --chart-4: 220 40% 65%;
  --chart-5: 210 30% 70%;

    --radius: 0.4rem;
  }

  .dark {
  --background: 230 20% 15%;
  --foreground: 230 20% 95%;
  --card: 240 20% 20%;
  --card-foreground: 230 20% 95%;
  --popover: 250 20% 25%;
  --popover-foreground: 230 20% 95%;
  --primary: 250 70% 50%;
  --primary-foreground: 230 20% 100%;
  --secondary: 200 40% 40%;
  --secondary-foreground: 230 20% 100%;
  --muted: 230 20% 25%;
  --muted-foreground: 230 20% 95%;
  --accent: 245 70% 60%;
  --accent-foreground: 230 20% 10%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 230 20% 100%;
  --border: 240 20% 30%;
  --input: 240 20% 20%;
  --ring: 250 70% 50%;
  --chart-1: 250 70% 50%;
  --chart-2: 240 60% 55%;
  --chart-3: 230 50% 60%;
  --chart-4: 220 40% 65%;
  --chart-5: 210 30% 70%;
  }

}

@layer base {
  * {
    @apply border-border p-0 m-0;
  }
  body {
    /*
    @apply bg-background text-foreground p-0 m-0 box-border;
    remover bg-[url('/backgrounds/background-artwork.jpg')] para remover a imagen de backgroud
    */
    @apply bg-[url('/backgrounds/wallpaper6.jpg')] bg-no-repeat bg-top bg-cover bg-[#051122] text-[12pt];
  }
  p {
    @apply text-[12pt];
  }
  video {
    @apply object-contain overflow-clip;
  }
}
